*{margin: 0; padding: 0;}
#container{width: 1000px; margin: 0px auto;}

/* header 스타일 */
 header{width:1000px; height: 80px; background-color: rgb(224, 103, 129);
    margin-bottom: 20px; }

/* logo 스타일 */
#logo{
    width: 250px;
    float: left;
    padding-left: 30px;
    line-height: 80px;
    /* height와 같은 크기이면 수직 가운데 정렬됨 */
}
#logo a{text-decoration: none; color: #fff;}
#logo a:hover{color:rgb(153, 153, 153)}

/* nav 스타일 */
nav{height: 80px; line-height: 30px; float: right;}
nav ul{list-style: none; text-align: right; margin-right: 50px;}
nav ul li{display: inline-block; margin: 30px;}
nav ul li a{text-decoration: none; color:#fff}
nav ul li a:hover{color:rgb(153, 153, 153)}

/* 본문스타일 */
/* index페이지 */
#sec1{width: 920px; height: 350px;  margin: 0 auto; padding-bottom: 0;}
#sec1 h2{margin-left: 0; padding: 0; margin-bottom: 0;}
#sec1 .goods{list-style: none;}
#sec1 .goods li{float: left; margin: 25px; overflow: hidden;
position: relative;}
#sec1 .goods li img{float: left;}
#sec1 .goods li .caption{width: 250px; height: 250px; position: absolute;
top:250px; background: rgb(0, 0, 0, 0.6); transition: all 1s ease-in-out}
#sec1 .goods li:hover .caption{transform: translateY(-250px)}
#sec1 .goods li .caption h2, .caption p{color:#fff; text-align: center;}
#sec1 .goods li .caption h2{padding-top: 30px;}
#sec1 .goods li .caption p{margin: 10px;}

#sec2{width: 920px; margin:  0 auto;}
#sec2 h2{margin: 0px 10px 10px 10px; padding: 0;}
#sec2 h3{margin: 10px 10px 10px 20px; font-size: 1.2em; }
#sec2 ul li{margin: 10px 50px; line-height: 1.5;}
#sec2 .info{padding-left: 30px; margin-bottom: 10px;}


/* 강아지 용품 페이지 */
.typesec{ padding: 20px 20px 0px 20px; width:1000px; margin: 0 auto;} 
.prodsec{ padding: 20px 20px 0px 110px; width:1000px; margin: 0 auto;} 

h2{font-size:1.5em;}
h3 {font-size:1.0em; margin-bottom: 10px;}
p {line-height:2; font-size:14px;}

article{border:1px solid #ccc; border-radius: 5px;
    width:400px; height: 200px; margin: 10px; padding: 10px; float:left ;}

article.at1{background: url(../images/1.png) no-repeat right bottom;}
article.at4{margin-bottom: 150px; background: url(../images/2.png) no-repeat right bottom;}
article.at1:hover{background-color:rgb(254, 255, 223); transition: 2s;}
article.at2:hover{background-color:rgb(221, 237, 255); transition: 2s;}
article.at3:hover{background-color:rgb(255, 228, 251); transition: 2s;}
article.at4:hover{background-color:rgb(228, 255, 232); transition: 2s;}
article.type{width: 270px; height: 500px; float: left; margin-bottom: 100px;
margin: 10px 5px 100px 30px;}

/* 강아지종류 페이지 */
article.type h3{background:url(../images/bg-note.png) no-repeat;
                padding-left: 30px; margin: 10px 0px; font-size: 1.1em;}
section h2{padding-left: 30px; margin: 10px;}
article.type dl dt{font-weight: bold; margin: 5px 0px;}
article.type dl dd{line-height: 1.7; font-size: 0.9em;}

/* footer 스타일 */
footer {width:1000px; height:100px; clear: left;
       background-color:rgb(224, 103, 129); margin: 0 auto;}
footer .logo-pic img{float: left; margin: 10px 10px 10px 20px;
    padding: 10px;}
footer address{padding: 15px 10px 10px 15px;}

footer address p{line-height: 1.8; color:white; font-style:normal; font-size:0.8em; }

