table, td, th{
    border: 1px solid rgb(191, 191, 191);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
/* thead{
    background-color: rgb(226, 226, 243);
} */
caption{
    margin: 10px 10px 10px;
}