#container{
    width: 650px;
    margin: 0 auto;
    padding: 5px;
}
#check{
    width: 640;
    border: 1px dotted #ccc;
    text-align: center;
    padding-bottom: 20px;
}
.accent{
    color:#0000ff;
}
.smalltext{
    font-size: 0.7em;
}
h1{
    background-color: black;
    color:white;
    font-size:1em;
    /* 글자크기를 16px로 줄임 */
    padding: 10px;
    margin: 0px;
    text-align: left;
}
h2{
    color: #f00;
    font-size: 1.7em;
}
p{
    line-height: 2em;
    font-weight: bold;
    font-size: 1.1em;
}