div{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(116, 116, 116);
    margin: 20px;
    display: inline-block;
}
.bg1{
    background: url(../images/bg.jpg) no-repeat;
}
.bg2{
    background: url(../images/bg.jpg) no-repeat;
    background-size: 200px;
    /* 200px-가로크기임, 세로 크기는 비율로 맞춰짐 */
}
.bg3{
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100%;
    /* 박스크기(300px)의 60% */
}
.bg4{
    background: url(../images/bg.jpg) no-repeat;
    background-size: contain;
    /* 이미지가 축소되어 비율대로 보여줌 */
}
.bg5{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    /* 이미지가 축소되어 꽉 차게 보여줌 */
}