/* content 스타일 */
*{
    margin: 0;
    padding: 0;
}
#content{
    width: 800px;
    height: 500px;
    background: url(../images/bg.jpg) no-repeat;
    /* border: 1px solid #ccc; */
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
h1{
    font-size: 120px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-shadow: 2px 2px 5px rgb(126, 126, 126);
}