*{margin: 0;}
header{
    height:60px;
    padding:10px;
    /* background-color:beige; */
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
}
nav ul li{
    width: 100px;
    height: 30px;
    display: inline-block;
    /* 수평배치 */
    margin:10px 20px;
    border-top :3px solid #333;
    padding:10px;
}
nav ul li a{
    text-decoration: none;
    color:#222;
}
nav ul li:hover{
    background-color: #eee;
    transform: scale(1.1);
}
section{
    background-color: rgb(191, 233, 233);
    height:500px;
}